@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

:root {
    --bg: #282A36;
    --pink: #F274BD;
    --green: #48BB54;
    --orange: #FFB86C;
    --purple: #BB91F5;
    --turquoise: #8BE8D2;
    --yellow: #F1FA8C;
}