@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");

:root {
  --bg: #282a36;
  --pink: #f274bd;
  --green: #48bb54;
  --orange: #ffb86c;
  --purple: #bb91f5;
  --turquoise: #8be8d2;
  --yellow: #f1fa8c;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  box-sizing: border-box;

  font-family: "Fira Code", monospace;
}

body {
  background-color: var(--bg);

  height: 100vh;
}

#calculator {
  width: 100%;
  height: 100vh;
  padding: 32px;
}

/* HEADER */

#calculator .header {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  margin-bottom: 16px;
}

#calculator .header img {
  width: 72px;
  height: 72px;
}

#calculator .header h1 {
  color: var(--purple);
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.7px;
  border-bottom: 5px solid var(--yellow);

  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
}

/* ROWS */

.rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
}

.rows:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

/* INPUT */

#calculator input[name="viewfinder"] {
  background-color: #efefef;
  color: var(--orange);
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  width: 100%;
  padding: 32px 16px;
  border-radius: 4px;
  margin-bottom: 24px;

  border: 2px solid var(--pink);
  box-shadow: 2px 2px 2px -3px #fff;
}

#calculator input[type="button"] {
  background-color: #41455a;
  font-size: 24px;
  line-height: 34px;
  padding: 16px;
  border-radius: 28px;
}

#calculator input[type="button"]:hover {
  background-color: #545a75;
  transition: 300ms;
}

.number {
  color: var(--turquoise);
}

.operator {
  color: var(--green);
  font-weight: bold;
}

.others {
  color: var(--yellow);
  font-weight: bold;
}
